# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model weight files
weights/*

# Deploy scripts
*deploy.sh

# Distribution / packaging
.Python
env/
build/
dist/
*.log

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# VSCode settings
.vscode

# IDEA files
.idea

# OSX dir files
.DS_Store
